@import "tailwindcss";

input:focus {
  outline: none;
}

@theme inline {
  /* custom colors */
  --color-main: #231F20;
  /* custom fonts */
  --font-main: var(--font-pretendard), ui-sans-serif, system-ui;
  --font-pretty: var(--font-bombaram);
}
