@import "tailwindcss";

@theme inline {
  /* custom colors */
  --color-landing-page: #EBC190;
  /* custom fonts */
  --font-main: var(--font-noto), ui-sans-serif, system-ui;
  --font-bookk-bold: var(--font-bookk-bold);
  --font-bookk-light: var(--font-bookk-light);
}
